/* CSS for Front Page */
.title {
    background-color: green;
    color:white;
    font-weight:bold;
    border:15px solid red;
    margin:30px;
    text-align:center;
}
.center{
    text-align: center;
    margin:30px;
    list-style-position: inside;
}

a {
    text-decoration: underline;
    color:blue;
    font-weight: bold; 
}

.image-border{
    display:inline;
    width:250px;
    border: solid black;
}

.text-box{
    width:300px; 
    border:solid red;
    padding:20px;
    display:inline-block;
    text-align:center;

}


/* CSS for RECIPE PAGES */ 
